@font-face {
	font-family: 'JetBrains Mono Regular';
	src: url('JetBrainsMono-Regular.ttf');
}
body{
	margin: 0;
	padding: 0;
	background-color: #000;
	color: #FFF;
	font-family: 'JetBrains Mono Regular';
	background-image: url('../img/characters/banner.png');
	background-size: cover;
	background-repeat: no-repeat;
    height: 100%;
    overflow-x: hidden;
    background-position: 55%;
}
.btn{
	color: #FFF;
	background: #000;
	border: 1px solid #FFF;
	padding: 10px;
	text-decoration: none;
	margin: 5px 0px;
	cursor: pointer;
	font-family: 'JetBrains Mono Regular';
}
.btnText{
	width: 95%;
	margin: auto;
}
.btn:hover{
	color: #000;
	background-color: #FFF;
}
.btnsArea{
	text-align: center;
	padding: 20px;
	display: flex;
	flex-direction: column;
}
.btnsArea .btn{
	word-break: break-word;
}
.startBtnArea{
	text-align: center;
	padding: 20px;
	display: flex;
	justify-content: center;
}
a,
.highlight,
button{
	color: rgb(209, 106, 208);
}
#container{
	margin-top: 10px;
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
}
.title{
	color: #fb4cec;
}
.content{
/*	width: 60%;*/
	margin: auto;
	padding: 10px 0px;
	background: #000;
	border: 2px solid #9d319c;
}
.quiz{
	width: 60%;
}
.main-title{
	display: flex;
	justify-content: center;
}
.desc-title{
	text-align: center;
}
.desc-text{
	text-align: center;
    width: 90%;
    margin: auto;
}
.playerNickDesc{
	text-align: center;
	text-align: center;
    width: 90%;
    margin: auto;
}
.question-area{
	padding: 30px;
}
.question{
	font-weight: bold;
	text-align: center;
	padding-top: 20px;
	width: 90%;
	margin: auto;
}
.playerNickName{
	background: #000;
	border: 1px solid #FFF; 
	padding-left: 10px;
	padding: 10px;
	color: #CCC;
	font-size: 15px;
	font-weight: bold;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
	background: #000;
	display: flex;
	justify-content: center;
	padding: 5px;
	width: 100%;
}
.points{
	display: flex;
	justify-content: flex-end;
	width: 95%;
	font-size: 5px;
	color: gray;
	margin: auto;
}
.point{
	color: #FFF;
	text-decoration: none;
}
@media (max-width: 1000px) {
	.quiz{
    	min-width: 90%;
	}
}
@media (max-width: 550px) {
	.main-title{
    	font-size: 15px;
	}
}
@media (max-width: 330px) {
	.main-title{
    	font-size: 13px;
	}
}